<form class="new-comedian" action="/comedians" method=POST>
  <h4>What's the Name:</h4>
  <input type="text" name="comedian[name]" placeholder="Name">
  <h4>Where were they born:</h4>
  <input type="text" name="comedian[city]" placeholder="City">
  <h4>Age # - (old fart? or Naw?):</h4>
  <input type="text" name="comedian[age]" placeholder="Age">
  <h5>Then this button...</h5>
  <input type="submit" value="Submit">
</form>
