<form class="new-comedian" action="/comedians" method=POST>
  <input type="text" name="comedian[name]" placeholder="Name">
  <input type="text" name="comedian[city]" placeholder="City">
  <input type="text" name="song[age]" placeholder="Age">
  <input type="submit" value="Submit">
</form>
